<h1>SMS Server Notifications</h1>
<p>Use this form to test sending server notifications to all administrators.</p>
<div class="row">
  <div class="panel well col-md-6">
  <a class="btn btn-success btn-lg btn-block" href="/trigger">Send Test</a>
  <hr>
  <p> Or <a href="/administrators/new">create an administrator</a> to get started.</p>
  </div>
</div>