<h1>SMS Server Notifications</h1>
<p>Click the button to test sending server notifications to all administrators.</p>
<div class="card m-3 mt-5">
  <div class="card-body">
    <p class="card-text">Edit administrators in 'config/administrators.yml'.</p>
    <a class="btn btn-success btn-lg btn-block" href="/error">Raise Test Error</a>
  </div>
</div>
