<h1>SMS Server Notifications</h1>
<p>Click the button to test sending server notifications to all administrators.</p>
<div class="row">
  <div class="panel well col-md-6">
  <a class="btn btn-success btn-lg btn-block" href="/error">Raise Test Error</a>
  <hr>
  <p>Edit administrators in 'config/administrators.yml'.</p>
  </div>
</div>