<div class="container">
  <h1>Create a new Administrator</h1>
  <% if @administrator.errors.any? %>
    <h2>Oops, something went wrong!</h2>

    <ul>
      <% @administrator.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end -%>
    </ul>
  <% end -%>

  <%= form_for @administrator do |f| %>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control", id: "phone_number" %>
    </div>
    <button class="btn btn-primary">Sign up</button>
  <% end -%>
</div>